.app{
    background-color: #052428;

}

.app__form{
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    margin-top: 2em;
}

.app__input{
    border: none;
    padding: 0.4em 1em;
    border-radius: 0.5em 0 0 0.5em;

}

.app__btn{
    display: block;
    border: none;
    width: 7em;
    background-color: #11863a;
    padding: 0.4em;
    border-radius: 0 0.5em 0.5em 0;
    color: white;
    font-weight: 700;
}

.app__card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}

.app__error{
    color: white;
    display: flex;
    align-items: top;
    justify-content: center;
    height: 65vh;
}

.app__loading{
    color: white;
    display: flex;
    align-items: top;
    justify-content: center;  
    height: 65vh;
}
